.par {
    text-align: justify;
}

.text {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.wrapper {
    background-color: #fff;
    padding: 20px;
}

.body {
    border-bottom: solid 1px var(--bs-gray-300);
}