.wrapper {
    background-color: #f0ecec;
}

.text-blur {
    color: #535151;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.empty {
    // border: solid 1px #333;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}