.wrapper {
    background-color: #f0ecec;
}

.text-blur {
    color: #535151;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.empty {
    min-height: 200px;
    border: solid 1px #333;
    border-radius: 10px;
    text-align: center;
    padding-top: 75px;
    background-color: var(--bs-light);
    font-size: 20px;
    font-weight: 500;
}