.avatar {
    width: 65px;
    height: 65px;
}

.star {
    color: var(--bs-yellow);
    margin: 0 1px;
}

.progress {
    height: 10px;
}

.content {
    border: solid 1px #b2b1b1;
    border-radius: 10px;
    padding: 10px;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 10px !important;
}

.general {
    font-size: 13px;
}

.comments-list {
    border-bottom: solid 1px var(--bs-gray-300);
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bs-gray);
        border-radius: 20px;
    }
}

.cmt {
    display: flex;
    align-items: center;
}