.wrapper {
    background-color: #fff;
    padding: 20px;
    min-height: 527px;
}

.label {
    width: 150px;
}

.image {
    width: 200px;
    border: solid 1px #333;
}

.toggle {
    cursor: pointer;
    background-color: #fff;
    border-left: none;
}

.b-r-n {
    border-right: none;
}