.star {
    font-size: 28px;
    color: var(--bs-yellow);
    cursor: pointer;
}

.star-wrapper {
    width: 54px;
    text-align: center;
    margin: 0 4px;
}

.form {
    border-bottom: solid 1px var(--bs-gray-300);
}